.navigation {
    position: relative;
}

.navigation__overlay {
    width: 100vw;
    height: 1024px;
    position: fixed;
    opacity: 0.3;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1;
}

.navigation__nav-link {
    width: 520px;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 2;
}

.navigation__container {
    width: 340px;
    height: 100vh;
    margin-top: 159px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.navigation__heading {
    color: #000;
    text-decoration: none;
}

.navigation__heading:hover {
   opacity: 0.7;
}

.navigation__heading_active {
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}

.navigation__button-close {
    width: 22px;
    height: 22px;
    padding: 0;
    /* transform: rotate(-45deg); */
    background-image: url("../../images/nav-close-menu.svg");
    background-position: center;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 22.44px;
    right: 22.44px;
    cursor: pointer;
}

.navigation__button-close:hover {
    opacity: 0.8;
}

/* кнопка "аккаунт" */

.navigation__account {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100px;
    height: 32px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    margin: 0;
    bottom: 90px;
    right: 210px;
}

.navigation__account:hover {
    opacity: 0.7;
}

.navigation__account-text {
    display: flex;
    padding: 27.5px 0 9.5px 11px;
}

.navigation__account-icon {
    width: 26px;
    height: 26px;
    margin-top: -6px;
    margin-left: 7px;
    background-image: url("../../images/icon-account.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 50%;
    background-color: #f9f9f9;
    background-position: center;
}

/* адаптивность 570px, бургер-меню */

@media screen and (max-width: 570px) {

    .navigation__overlay {
        height: 780px;
    }

    .navigation__nav-link {
        width: 320px;
    }

    .navigation__container {
        width: 300px;
        margin-top: 144px;
        gap: 24px;
    }

    .navigation__button-close {
        top: 13.44px;
        right: 13.44px;
    }

    .navigation__account {
        bottom: 46px;
        right: 110px;
    }
}